$body-background-color: #0e0e0e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $body-background-color;
  font-family: 'Roboto', sans-serif;
}

.text-center {
  text-align: center;
}